<%- include('../partials/header', { title: 'Logotype' }) %>

    <div class="container p-4">
        <div class="row mb-5">
            <div class="col col-md-12">
                <h1 class="text-start" data-translate="logo">Logo</h1>
                <p class="text-start" data-translate="logo_examples">Aqui você encontrará exemplos de uso de logotipo de
                    acordo com o sistema de cores.</p>
                <div class="d-flex gap-2 justify-content-start">
                    <a href="assets/files.zip?v=<%= version %>" target="_blank" class="btn btn-outline-primary">
                        <i class="bi bi-download"></i><span class="ms-2" data-translate="logo_files">Download dos
                            Ativos</span>
                    </a>
                    <a href="assets/files.php?v=<%= version %>" target="_self" class="btn btn-outline-secondary">
                        <i class="bi bi-hdd-network"></i><span class="ms-2">Visualizar os Ativos</span>
                    </a>
                </div>
            </div>
        </div>

        <!-- Horizontal -->
        <div class="row">
            <div class="col">
                <h2 data-translate="horizontal">Horizontal</h2>
            </div>
        </div>
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
            <!-- Primary BG -->
            <div class="col">
                <div>
                    <h3 data-translate="primary_bg">BG Primário</h3>
                </div>
                <div class="bg-primary rounded d-flex justify-content-center p-4">
                    <img class="rounded img-fluid d-block"
                        src="assets/files/horizontal/lg-hz-bw-inverted.webp?v=<%= version %>"
                        alt="Logo Horizontal BW Inverted">
                </div>
            </div>
            <!-- Secondary BG -->
            <div class="col">
                <div>
                    <h3 data-translate="secondary_bg">BG Secundário</h3>
                </div>
                <div class="bg-secondary rounded d-flex justify-content-center p-4">
                    <img class="rounded img-fluid d-block"
                        src="assets/files/horizontal/lg-hz-color-inverted.webp?v=<%= version %>"
                        alt="Logo Horizontal White">
                </div>
            </div>
            <!-- Light BG -->
            <div class="col">
                <div>
                    <h3 data-translate="light_bg">BG Light</h3>
                </div>
                <div class="bg-light rounded d-flex justify-content-center p-4">
                    <img class="rounded img-fluid d-block"
                        src="assets/files/horizontal/lg-hz-color.webp?v=<%= version %>" alt="Logo Horizontal Color">
                </div>
            </div>
            <!-- Success BG -->
            <div class="col">
                <div>
                    <h3 data-translate="success_bg">BG Success</h3>
                </div>
                <div class="bg-success rounded d-flex justify-content-center p-4">
                    <img class="rounded img-fluid d-block"
                        src="assets/files/horizontal/lg-hz-bw-inverted.webp?v=<%= version %>"
                        alt="Logo Horizontal BW Inverted">
                </div>
            </div>
            <!-- Warning BG -->
            <div class="col">
                <div>
                    <h3 data-translate="warning_bg">BG Warning</h3>
                </div>
                <div class="bg-warning rounded d-flex justify-content-center p-4">
                    <img class="rounded img-fluid d-block" src="assets/files/horizontal/lg-hz-bw.webp?v=<%= version %>"
                        alt="Logo Horizontal BW">
                </div>
            </div>
            <!-- Danger BG -->
            <div class="col">
                <div>
                    <h3 data-translate="danger_bg">BG Danger</h3>
                </div>
                <div class="bg-danger rounded d-flex justify-content-center p-4">
                    <img class="rounded img-fluid d-block"
                        src="assets/files/horizontal/lg-hz-bw-inverted.webp?v=<%= version %>"
                        alt="Logo Horizontal BW Inverted">
                </div>
            </div>
            <!-- Black BG -->
            <div class="col">
                <div>
                    <h3 data-translate="black_bg">BG Mono Preto</h3>
                </div>
                <div class="bg-black rounded d-flex justify-content-center p-4">
                    <img class="rounded img-fluid d-block"
                        src="assets/files/horizontal/lg-hz-bw-inverted.webp?v=<%= version %>"
                        alt="Logo Horizontal BW Inverted">
                </div>
            </div>
            <!-- White BG -->
            <div class="col">
                <div>
                    <h3 data-translate="white_bg">BG Mono Branco</h3>
                </div>
                <div class="bg-white rounded d-flex justify-content-center p-4">
                    <img class="rounded img-fluid d-block" src="assets/files/horizontal/lg-hz-bw.webp?v=<%= version %>"
                        alt="Logo Horizontal Color">
                </div>
            </div>
        </div>

        <!-- Vertical -->
        <div class="row mt-4">
            <div class="col">
                <h2 data-translate="vertical">Vertical</h2>
            </div>
        </div>
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
            <!-- Primary BG -->
            <div class="col">
                <div>
                    <h3 data-translate="primary_bg">BG Primário</h3>
                </div>
                <div class="bg-primary rounded d-flex justify-content-center p-4">
                    <img class="rounded img-fluid d-block"
                        src="assets/files/vertical/lg-vt-bw-inverted.webp?v=<%= version %>"
                        alt="Logo Vertical BW Inverted">
                </div>
            </div>
            <!-- Secondary BG -->
            <div class="col">
                <div>
                    <h3 data-translate="secondary_bg">BG Secundário</h3>
                </div>
                <div class="bg-secondary rounded d-flex justify-content-center p-4">
                    <img class="rounded img-fluid d-block"
                        src="assets/files/vertical/lg-vt-color-inverted.webp?v=<%= version %>"
                        alt="Logo Vertical White">
                </div>
            </div>
            <!-- Light BG -->
            <div class="col">
                <div>
                    <h3 data-translate="light_bg">BG Light</h3>
                </div>
                <div class="bg-light rounded d-flex justify-content-center p-4">
                    <img class="rounded img-fluid d-block" src="assets/files/vertical/lg-vt-color.webp?v=<%= version %>"
                        alt="Logo Vertical Color">
                </div>
            </div>
            <!-- Success BG -->
            <div class="col">
                <div>
                    <h3 data-translate="success_bg">BG Success</h3>
                </div>
                <div class="bg-success rounded d-flex justify-content-center p-4">
                    <img class="rounded img-fluid d-block"
                        src="assets/files/vertical/lg-vt-bw-inverted.webp?v=<%= version %>"
                        alt="Logo Vertical BW Inverted">
                </div>
            </div>
            <!-- Warning BG -->
            <div class="col">
                <div>
                    <h3 data-translate="warning_bg">BG Warning</h3>
                </div>
                <div class="bg-warning rounded d-flex justify-content-center p-4">
                    <img class="rounded img-fluid d-block" src="assets/files/vertical/lg-vt-bw.webp?v=<%= version %>"
                        alt="Logo Vertical BW">
                </div>
            </div>
            <!-- Danger BG -->
            <div class="col">
                <div>
                    <h3 data-translate="danger_bg">BG Danger</h3>
                </div>
                <div class="bg-danger rounded d-flex justify-content-center p-4">
                    <img class="rounded img-fluid d-block"
                        src="assets/files/vertical/lg-vt-bw-inverted.webp?v=<%= version %>"
                        alt="Logo Vertical BW Inverted">
                </div>
            </div>
            <!-- Black BG -->
            <div class="col">
                <div>
                    <h3 data-translate="black_bg">BG Mono Preto</h3>
                </div>
                <div class="bg-black rounded d-flex justify-content-center p-4">
                    <img class="rounded img-fluid d-block"
                        src="assets/files/vertical/lg-vt-bw-inverted.webp?v=<%= version %>" alt="Logo Vertical White">
                </div>
            </div>
            <!-- White BG -->
            <div class="col">
                <div>
                    <h3 data-translate="white_bg">BG Mono Branco</h3>
                </div>
                <div class="bg-white rounded d-flex justify-content-center p-4">
                    <img class="rounded img-fluid d-block" src="assets/files/vertical/lg-vt-bw.webp?v=<%= version %>"
                        alt="Logo Vertical Color">
                </div>
            </div>
        </div>

        <!-- Gradients -->
        <div class="row mt-4">
            <div class="col">
                <h2 data-translate="gradients">Degradês</h2>
                <p data-translate="gradients_description">As combinações permitidas de cores para uso em gradientes são
                    exemplificadas. Use em materiais gráficos e digitais que permitam o uso desse recurso. Elas podem
                    ser usadas em fundos ou como preenchimentos para elementos, como ícones ou ilustrações.</p>
            </div>
        </div>
        <div class="container">
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5">
                <div class="col rounded d-flex justify-content-center px-4 py-5 bg-gradient-demo-1">
                    <img class="img-fluid" src="assets/files/symbol/sy-color-inverted.webp?v=<%= version %>"
                        alt="Symbol White">
                </div>
                <div class="col rounded d-flex justify-content-center px-4 py-5 bg-gradient-demo-2">
                    <img class="img-fluid" src="assets/files/symbol/sy-bw-inverted.webp?v=<%= version %>"
                        alt="Symbol BW Inverted">
                </div>
                <div class="col rounded d-flex justify-content-center px-4 py-5 bg-gradient-demo-3">
                    <img class="img-fluid" src="assets/files/symbol/sy-bw-inverted.webp?v=<%= version %>"
                        alt="Symbol BW Inverted">
                </div>
                <div class="col rounded d-flex justify-content-center px-4 py-5 bg-gradient-demo-4">
                    <img class="img-fluid" src="assets/files/symbol/sy-bw-inverted.webp?v=<%= version %>"
                        alt="Symbol BW Inverted">
                </div>
                <div class="col rounded d-flex justify-content-center px-4 py-5 bg-gradient-demo-5">
                    <img class="img-fluid" src="assets/files/symbol/sy-color-inverted.webp?v=<%= version %>"
                        alt="Symbol White">
                </div>
                <div class="col rounded d-flex justify-content-center px-4 py-5 bg-gradient-demo-6">
                    <img class="img-fluid" src="assets/files/symbol/sy-color-inverted.webp?v=<%= version %>"
                        alt="Symbol White">
                </div>
                <div class="col rounded d-flex justify-content-center px-4 py-5 bg-gradient-demo-7">
                    <img class="img-fluid" src="assets/files/symbol/sy-bw.webp?v=<%= version %>" alt="Symbol BW">
                </div>
                <div class="col rounded d-flex justify-content-center px-4 py-5 bg-gradient-demo-8">
                    <img class="img-fluid" src="assets/files/symbol/sy-color.webp?v=<%= version %>" alt="Symbol Color">
                </div>
                <div class="col rounded d-flex justify-content-center px-4 py-5 bg-gradient-demo-9">
                    <img class="img-fluid" src="assets/files/symbol/sy-color.webp?v=<%= version %>" alt="Symbol Color">
                </div>
            </div>
        </div>
    </div>

    <%- include('../partials/footer') %>