<%- include('../partials/header', { title: 'Prohibited uses' }) %>

    <div class="container p-4">
        <div class="row mb-5">
            <div class="col col-md-12">
                <h1 class="display-1 text-start" data-translate="prohibited_uses">Usos Proibidos</h1>
                <p class="text-start" data-translate="prohibited_uses_description">Exemplos de aplicações proibidas para
                    a marca. A regra também se aplica ao símbolo.</p>
            </div>
        </div>
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
            <div class="col">
                <div class="d-flex justify-content-center py-4 bg-white rounded">
                    <img class="rounded img-fluid d-block" src="assets/img/rotation.webp?v=<%= version %>" alt="Uso Proibido: Rotação"
                        data-translate="alt_uso_proibido_rotacao">
                </div>
                <div class="py-4">
                    <h4 class="d-flex align-items-center" data-translate="titulo_rotacao"><i
                            class="text-danger bi bi-exclamation-octagon-fill"></i>&nbsp;Rotação</h4>
                    <hr>
                </div>
            </div>
            <div class="col">
                <div class="d-flex justify-content-center py-4 bg-white rounded"><img class="rounded img-fluid d-block"
                        src="assets/img/contour.webp?v=<%= version %>" alt="Uso Proibido: Contorno Oco"
                        data-translate="alt_uso_proibido_contorno_oco"></div>
                <div class="py-4">
                    <h4 class="d-flex align-items-center" data-translate="titulo_contorno_oco"><i
                            class="text-danger bi bi-exclamation-octagon-fill"></i>&nbsp;Contorno Oco</h4>
                    <hr>
                </div>
            </div>
            <div class="col">
                <div class="d-flex justify-content-center py-4 bg-white rounded"><img class="rounded img-fluid d-block"
                        src="assets/img/expandedcontour.webp?v=<%= version %>" alt="Uso Proibido: Contorno"
                        data-translate="alt_uso_proibido_contorno"></div>
                <div class="py-4">
                    <h4 class="d-flex align-items-center" data-translate="titulo_contorno"><i
                            class="text-danger bi bi-exclamation-octagon-fill"></i>&nbsp;Contorno</h4>
                    <hr>
                </div>
            </div>
            <div class="col">
                <div class="d-flex justify-content-center py-4 bg-white rounded"><img class="rounded img-fluid d-block"
                        src="assets/img/shadow.webp?v=<%= version %>" alt="Uso Proibido: Sombra"
                        data-translate="alt_uso_proibido_sombra"></div>
                <div class="py-4">
                    <h4 class="d-flex align-items-center" data-translate="titulo_sombra"><i
                            class="text-danger bi bi-exclamation-octagon-fill"></i>&nbsp;Sombra</h4>
                    <hr>
                </div>
            </div>
            <div class="col">
                <div class="d-flex justify-content-center py-4 bg-white rounded"><img class="rounded img-fluid d-block"
                        src="assets/img/3dfx.webp?v=<%= version %>" alt="Uso Proibido: Filtro 3D ou Efeito de Relevo"
                        data-translate="alt_uso_proibido_filtro_3d_ou_efeito_relevo"></div>
                <div class="py-4">
                    <h4 class="d-flex align-items-center" data-translate="titulo_filtro_3d_ou_efeito_relevo"><i
                            class="text-danger bi bi-exclamation-octagon-fill"></i>&nbsp;Filtro 3D ou Efeito de Relevo
                    </h4>
                    <hr>
                </div>
            </div>
            <div class="col">
                <div class="d-flex justify-content-center py-4 bg-white rounded"><img class="rounded img-fluid d-block"
                        src="assets/img/desconstruction.webp?v=<%= version %>" alt="Uso Proibido: Deconstrução"
                        data-translate="alt_uso_proibido_deconstrucao"></div>
                <div class="py-4">
                    <h4 class="d-flex align-items-center" data-translate="titulo_deconstrucao"><i
                            class="text-danger bi bi-exclamation-octagon-fill"></i>&nbsp;Deconstrução</h4>
                    <hr>
                </div>
            </div>
            <div class="col">
                <div class="d-flex justify-content-center py-4 bg-white rounded"><img class="rounded img-fluid d-block"
                        src="assets/img/wrongcolors.webp?v=<%= version %>" alt="Uso Proibido: Cores Erradas"
                        data-translate="alt_uso_proibido_cores_erradas"></div>
                <div class="py-4">
                    <h4 class="d-flex align-items-center" data-translate="titulo_cores_erradas"><i
                            class="text-danger bi bi-exclamation-octagon-fill"></i>&nbsp;Cores Erradas</h4>
                    <hr>
                </div>
            </div>
            <div class="col">
                <div class="d-flex justify-content-center py-4 bg-white rounded"><img class="rounded img-fluid d-block"
                        src="assets/img/texture.webp?v=<%= version %>" alt="Uso Proibido: Efeito de Textura"
                        data-translate="alt_uso_proibido_efeito_de_textura"></div>
                <div class="py-4">
                    <h4 class="d-flex align-items-center" data-translate="titulo_efeito_de_textura"><i
                            class="text-danger bi bi-exclamation-octagon-fill"></i>&nbsp;Efeito de Textura</h4>
                    <hr>
                </div>
            </div>
            <div class="col">
                <div class="d-flex justify-content-center py-4 bg-white rounded"><img class="rounded img-fluid d-block"
                        src="assets/img/distortion.webp?v=<%= version %>" alt="Uso Proibido: Distorção"
                        data-translate="alt_uso_proibido_distorcao"></div>
                <div class="py-4">
                    <h4 class="d-flex align-items-center" data-translate="titulo_distorcao"><i
                            class="text-danger bi bi-exclamation-octagon-fill"></i>&nbsp;Distorção</h4>
                    <hr>
                </div>
            </div>
        </div>
    </div>

    <%- include('../partials/footer') %>