<footer class="text-center py-4" id="simb-footer">
    <div class="container">
        <div class="row row-cols-1 row-cols-lg-3">
            <div class="col d-flex justify-content-center align-self-start justify-content-lg-start">
                <small class="text-body-secondary">Copyright © <span id="currentYear"></span> Agência Quadri</small>
            </div>
            <div class="col align-self-end">
                <ul class="list-inline my-2">
                    <% if (contact && contact.social) { %>
                        <% if (contact.social.website) { %>
                            <li class="list-inline-item">
                                <a href="<%= contact.social.website %>" target="_blank">
                                    <div class="bs-icon-circle bs-icon-primary bs-icon">
                                        <i class="bi bi-globe"></i>
                                    </div>
                                </a>
                            </li>
                            <% } %>
                                <% if (contact.social.linkedin) { %>
                                    <li class="list-inline-item">
                                        <a href="<%= contact.social.linkedin %>" target="_blank">
                                            <div class="bs-icon-circle bs-icon-primary bs-icon">
                                                <i class="bi bi-linkedin"></i>
                                            </div>
                                        </a>
                                    </li>
                                    <% } %>
                                        <% if (contact.social.instagram) { %>
                                            <li class="list-inline-item">
                                                <a href="<%= contact.social.instagram %>" target="_blank">
                                                    <div class="bs-icon-circle bs-icon-primary bs-icon">
                                                        <i class="bi bi-instagram"></i>
                                                    </div>
                                                </a>
                                            </li>
                                            <% } %>
                                                <% if (contact.social.facebook) { %>
                                                    <li class="list-inline-item">
                                                        <a href="<%= contact.social.facebook %>" target="_blank">
                                                            <div class="bs-icon-circle bs-icon-primary bs-icon">
                                                                <i class="bi bi-facebook"></i>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <% } %>
                                                        <% if (contact.social.x) { %>
                                                            <li class="list-inline-item">
                                                                <a href="<%= contact.social.x %>" target="_blank">
                                                                    <div class="bs-icon-circle bs-icon-primary bs-icon">
                                                                        <i class="bi bi-twitter-x"></i>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <% } %>
                                                                <% if (contact.social.tiktok) { %>
                                                                    <li class="list-inline-item">
                                                                        <a href="<%= contact.social.tiktok %>"
                                                                            target="_blank">
                                                                            <div
                                                                                class="bs-icon-circle bs-icon-primary bs-icon">
                                                                                <i class="bi bi-tiktok"></i>
                                                                            </div>
                                                                        </a>
                                                                    </li>
                                                                    <% } %>
                                                                        <% } %>
                </ul>
            </div>
            <div class="col text-lg-end d-flex flex-column align-items-lg-end">
                <a href="terms.html" data-translate="terms_of_use">Termos de uso</a>
                <small class="text-body-secondary">Developed and created by: Agência Quadri</small>
                <small class="text-body-secondary">Autor: Weber Designer</small>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/script.min.js?v=<%= version %>"></script>
</body>

</html>